[submodule "simplex-noise_submodule"]
	path = simplex-noise_submodule
	url = git@github.com:smcameron/open-simplex-noise-in-c.git
[submodule "lists_submodule"]
	path = lists_submodule
	url = git@github.com:Zimonzk/lists.git
[submodule "logger_submodule"]
	path = logger_submodule
	url = ./logger_submodule/
